* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.row {
  display: flex;
  padding: 0 7.26vw;
  position: relative;
}

.col-6 {
  max-width: 50%;
  flex: 0 0 50%;
}

.col-7 {
  max-width: 60%;
  flex: 0 0 60%;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

body {
  color: white;
  font-family: 'Lucida Sans';
}

.yellow {
  color: #f5c506;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.header {
  background-image: url('./../images/header-bg.png');
  background-position: center;
  background-size: cover;
  padding-bottom: 67px;
}

.header-text__container,
.header-nav__container {
  padding: 35px 0;
}

.header-text__container {
  display: flex;
  justify-content: flex-start;
}

.header-text__inner {
  font-style: italic;
  font-size: 19px;
  letter-spacing: 2.5px;
  font-weight: 200;
  display: flex;
  align-items: center;
  position: relative;
  left: -1px;
  top: -8px;
}

.header-text {
  position: relative;
  left: 4px;
  top: 6px;
}

.header-nav__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 453px;
  height: 41px;
  margin-left: 57px;
  margin-top: 28px;
  position: relative;
  background: #f5c506;
  color: #9b7d08;
  font-family: 'Segoe WP';
  font-weight: 600;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.8px;
  cursor: pointer;
}

.nav-item:hover {
  color: white;
  font-weight: 400;
}

.control {
  cursor: pointer;
}

.nav::before {
  content: '';
  display: block;
  width: 101%;
  height: 108%;
  position: absolute;
  top: -8px;
  left: -8px;
  background-image: url('./../images/nav-bg.png');
  background-size: cover;
}

.nav-item {
  position: relative;
  width: 100%;
  height: 100%;
}

.nav-item-1 {
  left: 24px;
}

.nav-item-2 {
  left: 15px;
}

.nav-item-2::after,
.nav-item-2::before {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  background: #9b7d08;
  position: absolute;
  top: 0;
}

.nav-item-2::before {
  left: 6px;
}

.nav-item-2::after {
  right: 11px;
}

.nav-item-3 {
  left: 5px;
}

.nav-item__image {
  position: relative;
  left: -9px;
}

.header-video {
  position: relative;
  left: 49px;
  margin-top: 13px;
}

.header-video__container {
  display: flex;
  justify-content: flex-end;
}

.header-video-title__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-video-title {
  font-family: 'Asap';
  font-size: 40px;
  letter-spacing: 2.1px;
  position: relative;
  top: -10px;
  left: -28px;
  text-align: center;
}

.header-video-title .yellow {
  letter-spacing: 2.5px;
  position: relative;
  left: -8px;
}

.control {
  width: 32px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 145px;
  background: #f5c506;
}

.inactive {
  background: #c6a30d;
}

.control img {
  width: 14px;
  height: 20px;
}

.left-control {
  left: 0;
}

.left-control img {
  transform: rotate(180deg);
}

.right-control {
  right: 0;
}

.video-row {
  padding: 0;
}

.features-container {
  background-image: url(./../images/features-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0px 6px 0px black;
  position: relative;
}

.features-list {
  display: flex;
  justify-content: space-around;
  font-family: 'Segoe UI';
  font-size: 25px;
  font-weight: 200;
}

.feature-item {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 33.33333%;
  flex: 0 0 33.33333%;
  min-height: 212px;
  position: relative;
}

.feature-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 8px;
  left: -2px;
}

.feature-item__2 .feature-content {
  top: -5px;
  left: 12px;
}

.feature-item__3 .feature-content {
  top: 6px;
  left: -10px;
}

.feature-title {
  position: relative;
  top: 11px;
  left: 12px;
  font-size: 27px;
  word-spacing: 2px;
}

.feature-item__2 .feature-title {
  top: 14px;
  left: -2px;
}

.feature-item__3 .feature-title {
  top: 9px;
  left: 2px;
}

.feature-item:not(.feature-item__2)::before,
.feature-item:not(.feature-item__2)::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 1px;
  background: #d2d2d2;
}

.feature-item::before {
  left: 0;
}

.feature-item::after {
  right: -1px;
}

.slider-container {
  background-image: url(./../images/slider-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slider__inner {
  flex-direction: column;
}

.slider-item {
  display: grid;
  grid-template: 79px 1fr 114px/ repeat(3, 1fr);
  padding-top: 31px;
}

.slider-title {
  font-family: 'PT Sans';
  font-weight: 200;
  font-size: 37px;
  letter-spacing: 0.5px;
  word-spacing: -1px;
  grid-area: 1/1/1/4;
}

.slider-item__inner {
  font-family: 'Segoe WP';
  height: 234px;
  width: 342px;
  font-size: 29px;
  position: relative;
  top: 0;
  left: 0;
  font-weight: lighter;
  word-spacing: -1px;
  letter-spacing: 0.5px;
}

.slider-card {
  background-color: #ec9e03;
}

.slider-item__text {
  font-size: 29px;
  padding: 15px 0px 0 30px;
}

.trigger {
  position: absolute;
  right: 12px;
  bottom: 7px;
  color: #f9e2b4;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
  transition: 0.8s ease all;
  transform-origin: 49% 60% 0;
  transform: rotate(0);
}

.trigger:hover {
  transform: rotate(225deg);
  transition: 0.8s ease all;
}

.number {
  position: absolute;
  right: 17px;
  top: 11px;
  font-size: 25px;
}

.slider__twitter {
  background-image: url(./../images/twitter.png);
  background-repeat: no-repeat;
  background-position: center 58%;
  width: 329px;
  left: 6px;
}

.slider__twitter .trigger {
  right: 6px;
}

.date-card {
  width: 114px;
  height: 86px;
  background-color: #ddb101;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  font-family: 'Segoe UI';
  font-size: 50px;
  font-weight: bold;
  position: relative;
  top: -3px;
  left: 1px;
}

.month {
  font-family: 'Segoe UI';
  color: #b26529;
  text-transform: uppercase;
  font-size: 21px;
  position: relative;
  top: -14px;
  left: 2px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 196px;
  border-radius: 1rem;
  background: #ec9e03;
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  width: 88%;
  background: transparent;
  margin: 14px auto 21px;
  position: relative;
  left: 11px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-fill-lower {
  background: rgba(255, 255, 255, 0.5);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}

input[type=range]:focus::-ms-fill-lower {
  background: rgba(255, 255, 255, 0.5);
}

input[type=range]::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.5);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}

.footer {
  background-image: url(./../images/footer/footer-bg.png);
}

.footer>.container {
  padding-top: 35px;
}

.footer-title {
  font-family: 'PT Sans';
  font-weight: 200;
  font-size: 43px;
  letter-spacing: 0.5px;
  word-spacing: -1px;
  text-align: center;
  position: relative;
  left: 3px;
}

.footer-list__item {
  font-family: 'Open Sans';
  font-size: 23px;
  color: #a9a9a7;
  letter-spacing: -0.3px;
  position: relative;
  line-height: 120%;
}

.size__circle {
  height: 116px;
  width: 116px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PT Sans Narrow';
  font-size: 18px;
  font-weight: 800;
  border-radius: 50%;
  background: #f5c506;
  position: absolute;
  top: -43px;
  left: -20px;
}

.size__circle span {
  position: relative;
  top: 2px;
  left: 2px;
  letter-spacing: 0.5px;
}

.footer-sizes {
  display: grid;
  grid-template: 304px / 322px 180px 97px;
  align-items: baseline;
  margin-top: 46px;
  position: relative;
  left: 19px;
}

.size {
  position: relative;
}

.tablet {
  top: -40px;
  left: 25px;
}

.mobileS {
  top: -40px;
  left: -1px;
}

ul {
  list-style: none;
}

.footer-list__item::before {
  content: '';
  display: block;
  height: 14px;
  width: 14px;
  background: #f5c506;
  border-radius: 50%;
  position: absolute;
  left: -33px;
  top: 9px;
}

.footer-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-list {
  position: relative;
  top: 24px;
  left: 59px;
}

.footer-list__item:not(:first-child) {
  margin-top: 21px;
}

.footer-list__item:nth-child(3) {
  margin-top: 12px;
}

.footer-list__item:nth-child(4) {
  margin-top: 24px;
}

.footer-logo {
  height: 64px;
  margin-top: 56px;
  background: #4c4c4c;
  box-shadow: 0px -1px 10px 0px black;
}

.footer-text__inner {
  font-style: italic;
  letter-spacing: 2.5px;
  display: flex;
  align-items: center;
  position: relative;
  left: -1px;
  top: 5px;
}

.footer-logo__text {
  font-family: 'Lucida Sans';
  font-style: italic;
  font-weight: 100;
  font-size: 29px;
  letter-spacing: 0.2px;
  position: relative;
  left: 6px;
  top: 1px;
}

.mobile {
  display: none;
}

@media (max-width: 640px) {
  .contaier {
    max-width: 640px;
  }

  .row {
    padding: 0;
  }

  .header-video-title__container,
  .control,
  .footer-left,
  .nav::before,
  .slider-title,
  .date-card,
  .header-video,
  .slider__twitter,
  .slider-range,
  .minus {
    content: none;
    display: none;
  }

  .mobile {
    display: unset;
  }

  .slider-item__inner {
    width: unset;
  }

  .header-text__container,
  .header-nav__container {
    padding: 0;
  }

  .header-text__container,
  .header-nav__container {
    height: 62px;
  }

  .header-text__inner {
    letter-spacing: 0.5px;
    left: 0;
    top: 0;
  }

  .header-text__inner svg {
    width: 39px;
    position: relative;
    left: 12px;
    top: -1px;
  }

  .header-text {
    font-size: 19px;
    font-weight: 100;
    left: 19px;
    top: 2px;
  }

  .col-md-4 {
    max-width: 29%;
    flex: 0 0 29%;
  }

  .col-md-8 {
    max-width: 71%;
    flex: 0 0 71%;
  }

  .col-md-12 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .col-md-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .header-text__container {
    background: #575757;
  }

  .nav {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 19px;
  }

  .nav-item {
    letter-spacing: 0.1px;
  }

  .nav-item__image {
    height: 21px;
  }

  .nav-item-1 {
    left: 16px;
  }

  .nav-item-2 {
    left: 14px;
  }

  .nav-item-3 {
    left: 6px;
  }

  .header-video__container {
    justify-content: unset;
  }

  .header-video__inner {
    width: 100%;
  }

  .header-video {
    margin: 0;
    left: 0;
    top: -4px;
    width: 100%;
  }

  .header {
    padding: 0;
  }

  .features-container {
    box-shadow: none;
  }

  .main {
    margin-top: -12px;
  }

  .features-container {
    background-color: white;
  }

  .feature-item__1 img {
    height: 60px;
  }

  .feature-title {
    font-size: 23px;
  }

  .feature-item {
    min-height: 164px;
  }

  .features-list {}

  .feature-item img,
  .feature-title {
    z-index: 20;
  }

  .features-list::after,
  .features-list::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 100%;
  }

  .features-list::after {
    background-image: url(./../images/features-shadow_1.png);
    top: -4px;
    height: 102%;
  }

  .features-list::before {
    background-image: url(./../images/features-shadow_2.png);
    top: -10px;
  }

  .slider-item {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  }

  .slider__twitter {
    background: #f5c507;
    grid-area: 2/1/3/3;
    left: 0;
    display: grid;
    grid-template: 1fr/ 1fr 1fr;
  }

  .twitter-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .twitter-logo img {
    position: relative;
    top: 7px;
    left: 4px;
  }

  .slider-item__inner:nth-child(2) {
    width: 299px;
    height: 231px;
    margin: 18px 0 10px 9px;
  }

  .slider-item {
    padding-top: 0;
  }

  .slider-container {
    background: white;
  }

  .slider-item__text {
    font-size: 28px;
    padding: 15px 20px 0 26px;
    letter-spacing: 0.9px;
    word-spacing: -1px;
    line-height: 120%;
  }

  .trigger {
    right: 9px;
    bottom: 11px;
    font-size: 21px;
  }

  .slider-video-container {
    top: 16px;
    left: -2px;
  }

  .feature-item__1 .feature-content {
    top: -3px;
    left: -17px;
  }

  .feature-title {
    top: 17px;
    left: 5px;
  }

  .feature-item__2 img {
    height: 67px;
  }

  .feature-item__2 .feature-content {
    top: -3px;
    left: 8px;
  }

  .feature-item__2 .feature-title {
    left: 1px;
  }

  .feature-item__3 .feature-content {
    top: -3px;
    left: -3px;
  }

  .feature-item__3 img {
    height: 69px;
  }

  .feature-item__3 .feature-title {
    top: 13px;
    left: 6px;
  }

  .twits-container {
    display: grid;
    grid-template: 4fr 1fr / 1fr;
    padding-top: 18px;
  }

  .twit {
    font-size: 13px;
    background: url(./../images/message-bg.png);
    background-repeat: no-repeat;
    color: black;
    padding: 4px 54px 0 29px;
    height: 42px;
    position: relative;
    top: 5px;
    left: 3px;
    letter-spacing: 0.5px;
    word-spacing: 0px;
  }

  .twit:nth-child(2) {
    top: 3px;
    opacity: 0.8;
  }

  .twit:nth-child(3) {
    top: 2px;
    opacity: 0.8;
  }

  .twits-list {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
  }

  .textarea {
    border: 1px solid #d0a806;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 30px;
    min-width: 201px;
    position: relative;
    left: 4px;
  }

  .submit {
    height: 30px;
    width: 70px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #d69412;
    color: white;
    font-size: 15px;
    border: 1px solid #d0a806;
    position: relative;
    left: -5px;
    letter-spacing: 0;
  }

  .form {
    position: relative;
    top: -11px;
    left: 12px;
  }

  .main {
    z-index: 25;
    position: relative;
  }

  .footer {
    margin-top: -27px;
    z-index: 100;
    position: relative;
  }

  .footer-title {
    font-family: 'Open Sans';
    font-size: 38px;
    word-spacing: 3px;
    text-align: center;
    left: -5px;
  }

  .footer>.container {
    padding-top: 31px;
  }

  .footer-sizes {
    margin-top: 73px;
    left: 57px;
  }

  .footer-right {
    overflow: hidden;
  }

  .footer-logo {
    margin-top: 6px;
    height: 43px;
  }

  .footer-logo__text {
    font-size: 17px;
  }

  .footer-text__inner {
    left: 64px;

  }

  .footer-text__inner svg {
    width: 33px;
    height: 33px;
  }

  .main,
  .header {
    overflow: hidden;
  }

  .size__circle {
    top: -41px;
    left: -30px;
  }
}